# Title

In [1]:
import pandas as pd
import seaborn as sns
import numpy as np
import geopandas as gpd
import matplotlib.pyplot as plt
import os
os.chdir("..")

In [2]:
df = pd.read_stata("116320-V2\\ADH-WWD-AERi-Data-Corrected\\Public Release Data\\dta\\workfile9014wwd.dta")
cols = ["czone", "statefip","yr", "t2", "timepwt24", "d_impusch_p9", "d_impuschm_p9cen", "d_impuschf_p9cen", "d_impotch_p9_lag", ]
filtered_elements = [element for element in df.columns if "reg" in element]
cols+= filtered_elements
true_df = df[cols]
true_df

,czone,statefip,yr,t2,timepwt24,d_impusch_p9,d_impuschm_p9cen,d_impuschf_p9cen,d_impotch_p9_lag,reg_midatl,reg_encen,reg_wncen,reg_satl,reg_escen,reg_wscen,reg_mount,reg_pacif
0,100.0,47,1990.0,0.0,0.002114,1.368996,0.853212,0.515783,1.214706,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1,100.0,47,2000.0,1.0,0.002894,2.170298,1.234350,0.935948,2.525805,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2,200.0,47,1990.0,0.0,0.000732,2.093069,1.274826,0.818244,1.506115,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3,200.0,47,2000.0,1.0,0.001142,2.604384,1.606744,0.997641,3.109452,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4,301.0,47,1990.0,0.0,0.000261,1.977159,1.226143,0.751015,0.813720,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1439,39302.0,53,2000.0,1.0,0.000846,0.501683,0.298361,0.203321,0.539953,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1440,39303.0,53,1990.0,0.0,0.000309,0.203265,0.137203,0.066062,0.141234,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1441,39303.0,53,2000.0,1.0,0.000459,0.217105,0.146042,0.071063,0.219764,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1442,39400.0,53,1990.0,0.0,0.012741,0.907547,0.533567,0.373981,0.378374,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1443,39400.0,53,2000.0,1.0,0.018893,0.533276,0.330480,0.202797,0.657157,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [3]:
df_2 = pd.read_stata("116320-V2\\ADH-WWD-AERi-Data-Corrected\\Public Release Data\\dta\\workfile_china.dta")

cols_2 = ["czone","d_avg_lnwkwage", "d_avg_lnwkwage_m", "d_avg_lnwkwage_f"]
cols_2 +=["l_shind_manuf_cbp", "l_sh_popedu_c", "l_sh_popfborn", "l_sh_empl_f", "l_sh_routine33", "l_task_outsource"]
meging_on = df_2[cols_2]
true_df = true_df.merge(right=meging_on, left_on=true_df.index, right_on=meging_on.index)
true_df.drop("key_0",axis=1,inplace=True)
true_df.to_stata("data2019.dta")
""" mapping = {
    "czone_x": "czone",
    "t2": "After",
    "timepwt24": "CZ weight by period Length", 
    "d_impusch_p9": "CZ China Import Exposure",
    "d_impuschm_p9cen": "CZ China Import Exposure Male",
    "d_impuschf_p9cen": "CZ China Import Exposure Female",
    "d_impotch_p9_lag": "Instrument Other Developed Countries imports China",
    "d_avg_lnwkwage": "Log Weekly Avg Wage",
    "d_avg_lnwkwage_m": "Log Weekly Avg Wage Male",
    "d_avg_lnwkwage_f": "Log Weekly Avg Wage Female",
}
true_df.rename(mapper=mapping, axis=1,inplace=True) """
true_df

,czone_x,statefip,yr,t2,timepwt24,d_impusch_p9,d_impuschm_p9cen,d_impuschf_p9cen,d_impotch_p9_lag,reg_midatl,...,czone_y,d_avg_lnwkwage,d_avg_lnwkwage_m,d_avg_lnwkwage_f,l_shind_manuf_cbp,l_sh_popedu_c,l_sh_popfborn,l_sh_empl_f,l_sh_routine33,l_task_outsource
0,100.0,47,1990.0,0.0,0.002114,1.368996,0.853212,0.515783,1.214706,0.0,...,100.0,11.314535,8.091927,16.929960,39.787476,33.884003,1.065476,57.659035,31.322742,-0.174807
1,100.0,47,2000.0,1.0,0.002894,2.170298,1.234350,0.935948,2.525805,0.0,...,100.0,1.880373,0.321320,5.592074,29.703432,42.118324,1.789442,60.514069,31.796432,-0.668905
2,200.0,47,1990.0,0.0,0.000732,2.093069,1.274826,0.818244,1.506115,0.0,...,200.0,6.335258,0.958824,14.564991,42.233002,31.591215,0.965240,57.389729,29.615757,-0.132126
3,200.0,47,2000.0,1.0,0.001142,2.604384,1.606744,0.997641,3.109452,0.0,...,200.0,0.935486,-1.682622,5.594458,30.815619,34.165863,3.485157,59.977715,31.869707,-0.382597
4,301.0,47,1990.0,0.0,0.000261,1.977159,1.226143,0.751015,0.813720,0.0,...,301.0,4.452181,1.653051,10.382938,33.025658,26.137537,0.752831,46.720547,28.812309,-0.427937
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1439,39302.0,53,2000.0,1.0,0.000846,0.501683,0.298361,0.203321,0.539953,0.0,...,39302.0,-2.977235,-3.285613,-2.540452,15.105149,63.824886,12.261012,66.534142,29.666033,-0.133045
1440,39303.0,53,1990.0,0.0,0.000309,0.203265,0.137203,0.066062,0.141234,0.0,...,39303.0,10.134029,4.436827,20.702648,21.871569,47.785984,4.538155,56.382107,26.858339,-0.496753
1441,39303.0,53,2000.0,1.0,0.000459,0.217105,0.146042,0.071063,0.219764,0.0,...,39303.0,-5.384173,-8.482320,0.495093,13.631065,57.584846,6.137667,60.407291,28.428104,-0.890851
1442,39400.0,53,1990.0,0.0,0.012741,0.907547,0.533567,0.373981,0.378374,0.0,...,39400.0,15.652132,13.225651,20.508671,20.711973,60.187061,9.662724,67.012947,32.512493,0.238079
1443,39400.0,53,2000.0,1.0,0.018893,0.533276,0.330480,0.202797,0.657157,0.0,...,39400.0,8.676597,8.690084,8.578710,15.038784,65.117485,15.134101,67.303772,31.104124,0.289170

0        undefined
1        undefined
2        undefined
3        undefined
4        undefined
           ...
1439     undefined
1440     undefined
1441     undefined
1442    Seattle WA
1443    Seattle WA
Name: city, Length: 1444, dtype: object

In [6]:
cz_shapefile  = gpd.read_file("counties10.shp")
cz_shapefile

,FIPS,GISJOIN2,OUT10,REP10,Pop10,Wage2010,Wage2011,Wage2012,Wage2013,Wage2014,Wage2015,CBSA10,CBSAName,PEA10,BEA2004,TPMetro,TPMicro,TPcombined,geometry
0,10001.0,G1000010,91,430.0,162310,36771.0,37177.0,38572.0,38575.0,39979.0,41104.0,20100.0,"Dover, DE",6.0,49.0,287.0,NaN,287.0,"POLYGON ((2057371.988 -346417.102, 2053560.539..."
1,10003.0,G1000030,92,431.0,538479,55026.0,57344.0,58730.0,58939.0,60042.0,60564.0,37980.0,"Philadelphia-Camden-Wilmington, PA-NJ-DE-MD",6.0,127.0,2260.0,NaN,2260.0,"MULTIPOLYGON (((2048441.714 -267739.668, 20485..."
2,10005.0,G1000050,91,430.0,197145,33911.0,33994.0,34490.0,35217.0,36322.0,37679.0,41540.0,"Salisbury, MD-DE",147.0,49.0,NaN,289.0,289.0,"POLYGON ((2099098.4 -356691.045, 2099108.5 -35..."
3,1001.0,G0100010,1,560.0,54571,31748.0,32404.0,33690.0,33976.0,34232.0,35148.0,33860.0,"Montgomery, AL",164.0,114.0,51.0,NaN,51.0,"POLYGON ((1269840.786 -1303980.441, 1248372.29..."
4,1003.0,G0100030,2,561.0,182265,31189.0,31341.0,31882.0,32514.0,33126.0,33883.0,19300.0,"Daphne-Fairhope-Foley, AL",84.0,112.0,NaN,2.0,2.0,"POLYGON ((1185877.305 -1467640.747, 1186624.64..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3138,9007.0,G0900070,90,429.0,165676,47978.0,48967.0,49036.0,49561.0,50745.0,52782.0,25540.0,"Hartford-West Hartford-East Hartford, CT",1.0,72.0,280.0,NaN,280.0,"POLYGON ((2251136.959 -995.217, 2255425.304 -9..."
3139,9009.0,G0900090,90,429.0,862477,49662.0,50474.0,51334.0,51937.0,53117.0,54530.0,35300.0,"New Haven-Milford, CT",1.0,118.0,283.0,NaN,283.0,"POLYGON ((2186628.508 -24092.857, 2184474.784 ..."
3140,9011.0,G0900110,90,429.0,274055,47685.0,48666.0,49209.0,49313.0,51014.0,51897.0,35980.0,"Norwich-New London, CT",1.0,72.0,284.0,NaN,284.0,"POLYGON ((2258883.826 18490.429, 2258913.987 1..."
3141,9013.0,G0900130,90,429.0,152691,42094.0,43430.0,42828.0,42745.0,44277.0,46104.0,25540.0,"Hartford-West Hartford-East Hartford, CT",1.0,72.0,280.0,NaN,280.0,"POLYGON ((2249646.502 59619.994, 2252423.772 5..."
3142,9015.0,G0900150,90,429.0,118428,38235.0,39487.0,40005.0,39955.0,40490.0,42165.0,49340.0,"Worcester, MA-CT",1.0,72.0,NaN,286.0,286.0,"POLYGON ((2252423.772 52239.628, 2249646.502 5..."

In [5]:
data = true_df

# Step 3: Merge the shapefile with your data
# Adjust the column names as needed: here we assume the shapefile has a column 'CZ_ID'
merged = cz_shapefile.merge(data, left_on='GEOID', right_on='czone_x')

# Step 4: Create the map
fig, ax = plt.subplots(1, 1, figsize=(15, 10))
merged.plot(column='d_impusch_p9',  # Column to visualize
            ax=ax, 
            legend=True, 
            cmap='OrRd',                # Choose an appropriate color map
            edgecolor='black',          # Optional: adds borders for clarity
            linewidth=0.5)

ax.set_title("US Commuting Zones: CZ China Import Exposure", fontsize=16)
ax.set_axis_off()  # Optional: Hide the axis for a cleaner map

plt.show()

ValueError: You are trying to merge on object and float32 columns for key 'GEOID'. If you wish to proceed you should use pd.concat