# Title

In [1]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
import os
os.chdir("..")

In [2]:
df = pd.read_stata("116320-V2\\ADH-WWD-AERi-Data-Corrected\\Public Release Data\\dta\\workfile9014wwd.dta")
df

,czone,statefip,reg_midatl,reg_encen,reg_wncen,reg_satl,reg_escen,reg_wscen,reg_mount,reg_pacif,...,l_sh_popedu_c,l_sh_popfborn,l_sh_empl_f,l_sh_routine33,l_task_outsource,l_shhrs_manuf_cen,l_sh_pop_black,l_sh_pop_asian,l_sh_pop_oth,l_sh_pop_hispanic
0,100.0,47,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,33.884003,1.065476,57.659035,31.322742,-0.174807,33.019897,2.061533,0.264177,0.246056,0.373281
1,100.0,47,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,42.118324,1.789442,60.514069,31.796432,-0.668905,27.731340,2.103350,0.376162,1.244269,0.928515
2,200.0,47,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,31.591215,0.965240,57.389729,29.615757,-0.132126,29.170218,2.314479,0.227354,0.305905,0.385562
3,200.0,47,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,34.165863,3.485157,59.977715,31.869707,-0.382597,26.977999,1.999421,0.402518,2.372529,2.348825
4,301.0,47,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,26.137537,0.752831,46.720551,28.812309,-0.427937,26.543051,1.826598,0.304433,0.222112,0.302880
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1439,39302.0,53,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,63.824886,12.261012,66.534142,29.666033,-0.133045,16.350016,0.689391,2.779743,8.118024,5.207596
1440,39303.0,53,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,47.785984,4.538155,56.382114,26.858339,-0.496753,20.603195,0.528652,1.055998,4.744812,1.815690
1441,39303.0,53,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,57.584846,6.137667,60.407288,28.428104,-0.890851,13.755269,0.723933,1.149451,8.132364,3.026150
1442,39400.0,53,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,60.187061,9.662724,67.012947,32.512493,0.238079,19.836498,4.241097,5.809348,2.466751,3.024131
1443,39400.0,53,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,65.117485,15.134101,67.303772,31.104124,0.289170,15.012017,4.429167,7.501250,8.195444,5.346708

In [3]:
cols = ["czone", "statefip","yr", "t2", "timepwt24", "d_impusch_p9", "d_impuschm_p9cen", "d_impuschf_p9cen", "d_impotch_p9_lag"]
true_df = df[cols]

In [4]:
df_2 = pd.read_stata("116320-V2\\ADH-WWD-AERi-Data-Corrected\\Public Release Data\\dta\\workfile_china.dta")
df_2

,czone,statefip,city,yr,t2,timepwt48,reg_midatl,reg_encen,reg_wncen,reg_satl,...,d_tradefactor_otch_lag_io,d_expfactor_otch_lag_io,d_tradeuschlw_pw,d_tradeotchlw_pw_lag,d_tradeuschce_pw,d_tradeotchce_pw_lag,d_tradeusce_pw,d_tradeotce_pw_lag,d_tradeushi_pw,d_tradeothi_pw_lag
0,100.0,47,undefined,1990,0,0.002114,0,0,0,0,...,2.236522,0.473667,5.745085,2.437189,11.723440,2.363754,6.429653,0.084927,8.086318,3.398634
1,100.0,47,undefined,2000,1,0.002067,0,0,0,0,...,7.756201,2.385448,7.433516,9.709133,10.229408,9.147025,3.609548,0.178625,7.066726,24.310005
2,200.0,47,undefined,1990,0,0.000732,0,0,0,0,...,2.819397,0.470286,3.139381,3.033377,5.698626,2.847327,2.668147,0.049593,4.824689,0.610824
3,200.0,47,undefined,2000,1,0.000815,0,0,0,0,...,4.411247,0.982626,10.840832,4.853496,13.314946,4.596729,3.054200,0.115029,0.679557,7.543435
4,301.0,47,undefined,1990,0,0.000261,0,0,0,0,...,1.100026,0.110491,2.656860,0.798065,6.746723,0.739753,4.684127,0.018845,5.223952,-0.121527
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1439,39302.0,53,undefined,2000,1,0.000604,0,0,0,0,...,1.926341,0.475900,1.969576,4.189551,2.520159,2.910359,1.179735,0.042182,21.953125,35.346180
1440,39303.0,53,undefined,1990,0,0.000309,0,0,0,0,...,0.142317,0.362064,0.186300,0.232505,0.210115,0.180990,0.045044,-0.007325,3.324352,-3.753340
1441,39303.0,53,undefined,2000,1,0.000328,0,0,0,0,...,0.254032,0.536625,1.356380,0.415691,1.328173,0.383699,0.035111,0.088803,-1.014560,2.946155
1442,39400.0,53,Seattle WA,1990,0,0.012741,0,0,0,0,...,0.484865,0.185514,0.733281,0.574027,1.207080,0.550837,0.530103,0.017622,3.271805,-1.347030
1443,39400.0,53,Seattle WA,2000,1,0.013495,0,0,0,0,...,1.103072,0.805507,1.834468,1.395044,2.055323,1.315125,0.343519,0.070036,0.964781,4.782644

In [5]:
cols_2 = ["czone","d_avg_lnwkwage", "d_avg_lnwkwage_m", "d_avg_lnwkwage_f"]

In [6]:
meging_on = df_2[cols_2]
true_df = true_df.merge(right=meging_on, left_on=true_df.index, right_on=meging_on.index)
true_df.drop("key_0",axis=1,inplace=True)

In [8]:
true_df.to_csv("data2019.csv")

In [11]:
mapping = {
    "czone_x": "czone",
    "t2": "After",
    "timepwt24": "CZ weight by period Length", 
    "d_impusch_p9": "CZ China Import Exposure",
    "d_impuschm_p9cen": "CZ China Import Exposure Male",
    "d_impuschf_p9cen": "CZ China Import Exposure Female",
    "d_impotch_p9_lag": "Instrument Other Developed Countries imports China",
    "d_avg_lnwkwage": "Log Weekly Avg Wage",
    "d_avg_lnwkwage_m": "Log Weekly Avg Wage Male",
    "d_avg_lnwkwage_f": "Log Weekly Avg Wage Female",
}
true_df.rename(mapper=mapping, axis=1,inplace=True)

In [12]:
true_df

,czone,statefip,yr,After,CZ weight by period Length,CZ China Import Exposure,CZ China Import Exposure Male,CZ China Import Exposure Female,Instrument Other Developed Countries imports China,czone_y,Log Weekly Avg Wage,Log Weekly Avg Wage Male,Log Weekly Avg Wage Female
0,100.0,47,1990.0,0.0,0.002114,1.368996,0.853212,0.515783,1.214706,100.0,11.314535,8.091927,16.929960
1,100.0,47,2000.0,1.0,0.002894,2.170298,1.234350,0.935948,2.525805,100.0,1.880373,0.321320,5.592074
2,200.0,47,1990.0,0.0,0.000732,2.093069,1.274826,0.818244,1.506115,200.0,6.335258,0.958824,14.564991
3,200.0,47,2000.0,1.0,0.001142,2.604384,1.606744,0.997641,3.109452,200.0,0.935486,-1.682622,5.594458
4,301.0,47,1990.0,0.0,0.000261,1.977159,1.226143,0.751015,0.813720,301.0,4.452181,1.653051,10.382938
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1439,39302.0,53,2000.0,1.0,0.000846,0.501683,0.298361,0.203321,0.539953,39302.0,-2.977235,-3.285613,-2.540452
1440,39303.0,53,1990.0,0.0,0.000309,0.203265,0.137203,0.066062,0.141234,39303.0,10.134029,4.436827,20.702648
1441,39303.0,53,2000.0,1.0,0.000459,0.217105,0.146042,0.071063,0.219764,39303.0,-5.384173,-8.482320,0.495093
1442,39400.0,53,1990.0,0.0,0.012741,0.907547,0.533567,0.373981,0.378374,39400.0,15.652132,13.225651,20.508671
1443,39400.0,53,2000.0,1.0,0.018893,0.533276,0.330480,0.202797,0.657157,39400.0,8.676597,8.690084,8.578710